img {
    max-width: 100%;
    max-width: 100%;
}

.welcome_img {
    height: 150%;
    width: 32%;
    margin-right: 2%;
}

.welcome_title {
    display: flex;
    flex-direction: row;
    height: 110%;
    width: 110%;
}

/*div {
    text-align: justify;
}

div img {
    display: inline-block;
    width: 100px;
    height: 100px;
}

div:after {
    content: '';
    display: inline-block;
    width: 100%;
}*/